:root {
  font-size: 1vw;
  --card-title-color: rgb(37, 207, 244);
  --card-content-text-color: rgb(21, 196, 226);
  --card-background-color: rgb(3, 27, 39);
  --card-background-shadow-color: rgb(13, 59, 82);
  --menu-bg-color: rgb(11, 61, 81);
  --menu-bg-shadow-color: rgb(28, 98, 125);
  --equip-bg-color: rgb(4, 30, 43);
  --equip-bg-shadow-color: rgb(11, 61, 81);
  --table-border-color: rgb(61, 186, 241);
  word-break: break-all;
}
* {
  box-sizing: border-box;
}

/* 首页通用样式 */
.home-card-bar {
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
  width: 100%;
  /* overflow: hidden; */
  background: linear-gradient(
    90deg,
    var(--card-background-shadow-color),
    var(--card-background-color)
  );
  color: var(--card-title-color);
  font-size: 0.625vw;
  line-height: 1.2vw;
}
.home-card-bar i {
  margin-right: 0.15vw;
}
.home-card-body {
  padding-left: 0.5vw;
  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */
  color: var(--card-content-text-color);
  background-color: var(--card-background-color);
}

/* vue */
html,
body,
#app {
  width: 100%;
  height: 100%;
}
